/*  your css code here. If applicable */
body {
  text-align: center;
}
.code-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.code {
  width: 3rem;
  height: 4rem;
  border: 1px solid black;
  text-align: center;
  font-size: 30px;
}
